# Teste Desenvolvedor - Target Sistemas

#### Autor: Ewerton da Silva Costa
#### Linkedin: https://www.linkedin.com/in/ewerton-costa/
#### Github: https://github.com/EwertonAvlis

## Questão 1:

Observe o trecho de código abaixo:

int INDICE = 13, SOMA = 0, K = 0;

enquanto K < INDICE faça
{
K = K + 1;
SOMA = SOMA + K;
}

imprimir(SOMA);

Ao final do processamento, qual será o valor da variável SOMA?

In [1]:
INDICE = 13
soma = 0
k = 0
while k < INDICE:
    k = k+1
    soma = soma + k
print(soma)

91

## Questão 2

Dado a sequência de Fibonacci, onde se inicia por 0 e 1 e o próximo valor sempre será a soma dos 2 valores anteriores (exemplo: 0, 1, 1, 2, 3, 5, 8, 13, 21, 34...), escreva um programa na linguagem que desejar onde, informado um número, ele calcule a sequência de Fibonacci e retorne uma mensagem avisando se o número informado pertence ou não a sequência.

In [20]:
def fibonacci(termos:int) -> list:
  """ Cria uma lista com a sequência de Fibonacci a partir do número de termos desejados.
  """
  sequencia_fibonacci = []
  sequencia_fibonacci.append(0)
  sequencia_fibonacci.append(1)
  for n in range(2,termos):
    sequencia_fibonacci.append(sequencia_fibonacci[n-1] + sequencia_fibonacci[n-2])
  return sequencia_fibonacci

def pertence_a_sequencia_fibonacci(sequencia_fibonacci:list, numero:int) -> str:
  """Verifica se o número desejado pertence ou não a sequência de Fibonacci"""
  if numero in sequencia_fibonacci:
    return "O número PERTENCE a sequência de Fibonacci"
  else:
    return "O número NÃO PERTENCE a sequência de Fibonacci"

numeros_de_fibonacci = fibonacci(20)
numero = 21
#numero = int(input("Digite um número a ser testado: "))
pertence_a_sequencia_fibonacci(numeros_de_fibonacci, numero)

'O número PERTENCE a sequência de Fibonacci'

## Questão 3

Dado um vetor que guarda o valor de faturamento diário de uma distribuidora, faça um programa, na linguagem que desejar, que calcule e retorne:
• O menor valor de faturamento ocorrido em um dia do mês;
• O maior valor de faturamento ocorrido em um dia do mês;
• Número de dias no mês em que o valor de faturamento diário foi superior à média mensal.

IMPORTANTE:
a) Usar o json ou xml disponível como fonte dos dados do faturamento mensal;
b) Podem existir dias sem faturamento, como nos finais de semana e feriados. Estes dias devem ser ignorados no cálculo da média;

In [74]:
import pandas as pd

arquivo1 = pd.read_json('dados.json')
display(arquivo1.head())

   dia       valor
0    1  22174.1664
1    2  24537.6698
2    3  26139.6134
3    4      0.0000
4    5      0.0000

In [75]:
arquivo1_limpo = arquivo1[arquivo1 != 0].dropna().reset_index(drop=True)
arquivo1_limpo.head()

   dia       valor
0    1  22174.1664
1    2  24537.6698
2    3  26139.6134
3    6  26742.6612
4    8  42889.2258

In [89]:
menor_faturamento = arquivo1_limpo['valor'].min()
maior_faturamento = arquivo1_limpo['valor'].max()
faturamento_medio = arquivo1_limpo['valor'].mean()
dias_acima_media = len(arquivo1_limpo[(arquivo1_limpo['valor'] > faturamento_medio)])

print(f"O menor faturamento do mês foi de R${menor_faturamento:.2f} e o maior foi de R${maior_faturamento:.2f}.")
print(f"A média do faturamento foi de R${faturamento_medio:.2f}, com {dias_acima_media} dias acima da média.")

O menor faturamento do mês foi de R$373.78 e o maior foi de R$48924.24.
A média do faturamento foi de R$20865.37, com 10 dias acima da média.

## Questão 5:

Dado o valor de faturamento mensal de uma distribuidora, detalhado por estado:

    SP – R$67.836,43
    RJ – R$36.678,66
    MG – R$29.229,88
    ES – R$27.165,48
    Outros – R$19.849,53


Escreva um programa na linguagem que desejar onde calcule o percentual de representação que cada estado teve dentro do valor total mensal da distribuidora.

In [175]:
faturamento_mensal_por_estado = [ ["SP", 67836.43],
                                  ["RJ", 36678.66],
                                  ["MG", 29229.88],
                                  ["ES", 27165.48],
                                  ["Outros", 19849.53]]
 
df = pd.DataFrame(faturamento_mensal_por_estado, index=None)
df.columns = ["estado", "valor"]
df.set_index("estado",inplace=True)
df

           valor
estado
SP      67836.43
RJ      36678.66
MG      29229.88
ES      27165.48
Outros  19849.53

In [176]:
total_mensal = df['valor'].sum()
df['percentual'] = round((df['valor']/total_mensal)*100, 1)
df

           valor  percentual
estado
SP      67836.43        37.5
RJ      36678.66        20.3
MG      29229.88        16.2
ES      27165.48        15.0
Outros  19849.53        11.0

## Questão 5

Escreva um programa que inverta os caracteres de um string.

IMPORTANTE:
a) Essa string pode ser informada através de qualquer entrada de sua preferência ou pode ser previamente definida no código;
b) Evite usar funções prontas, como, por exemplo, reverse;

In [198]:
string = "Target Sistemas"
string_invertida = string[::-1]
string_invertida

'sametsiS tegraT'